.pg {
    &__hs {
        &--wrapper {
            display: flex;
            justify-content: center;
            padding-top: 40vh;
            height: 100vh;
            background-color: black;
            /* box-sizing: border-box; */
            color: white;
        }
        .inner-div {
            display: inline-block;
            /* height: 200px; */
        }
        div.mic2 {
            padding: 2rem;
        }
        
        .mic {
            height: 50px;
            display: inline-block;
            border: 0.1px solid white;
            border-radius: 2rem;
        }
        .welcome-text {
            display: block;
        }
    }
}

  