.c {
    &__text-mode {
        &--input {
            width: 20rem;
            height: 5rem;
            padding: 1rem;
            border: none;
        }
    }
    &__search-result {
        display: flex;
        height: 100vh;
        width: 100vw;
        &__section {
            width: 75%;
            height: 100%;

            .dest-img {
                position: absolute;
                bottom: 3rem;
                right: 28rem;
                width: 20rem;
                height: 10rem;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 1rem;
                }
            }
        }
        &__aside {
            width: 25%;
            height: 100%;
            padding: 1rem;
            background-color: white;
        }
    }
    &__navigator {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40%;
        // right: calc(50% - 4rem);
        left:  0;
        // height: 4rem;
        background-color: rgba(213, 232, 212, 1);
        border-radius: 0.2rem;
        z-index: 999;
        .route-span {
            width: 2rem;
            margin: 0.2rem;
            padding-left: 0.2rem;
            background-color: rgba(213, 232, 212, 0.7);
            // padding: 0.5rem;
            border-radius: 0.2rem;
            border: 0.1px solid green;
        }
        .route-span:hover {
            background-color: rgba(213, 232, 212, 1);
            cursor: pointer;
            color: white;
            background: green;
        }
    }
    &__road-event{
        display: flex;
        width: 30rem;
        height: 5rem;
        padding: 0.5rem;
        position: absolute;
        top: 5%;
        justify-content: center;
        align-items: center;
        left: calc(30% - 4rem);
        // left:  0;
        background-color: rgb(252, 255, 45);
        border-radius: 0.2rem;
        z-index: 5;

        .event-text {
            display: inline;
            margin-right: 0.5rem;
            width: 30%;
            text-align: center;
        }
        .event-img {
            display: inline-block;
            width: 40%;
            height: 4rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                overflow: hidden;
            }
        }

        &--img-container {
            width: 5rem;
            height: 5rem;
            border-radius: 0.5rem;
            border: 1px solid white;
            
        }

    }
    &__road-event-init{
        display: flex;
        width: 30rem;
        height: 5rem;
        padding: 0.5rem;
        position: absolute;
        top: 5%;
        justify-content: center;
        align-items: center;
        left: calc((100vw - 30rem) / 2);
        background-color: rgb(252, 255, 45);
        border-radius: 0.2rem;
        z-index: 5;

        .event-text {
            display: inline;
            margin-right: 0.5rem;
            width: 30%;
            text-align: center;
        }
        .event-img {
            display: inline-block;
            width: 40%;
            height: 4rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                overflow: hidden;
            }
        }
    }
}

